.App {
  height: "600px";
  background-color: #e0e6f5;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
::-webkit-scrollbar {
  width: 0px;
  height: 13px;
  color: #1e7b85;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-header-img {
  padding: 4px;
}
.profile-header-img > img.img-circle {
  width: 72px;
  height: 72px;
}
.book-listing{
  width: 80px;
  padding-left: 4px;
  padding-top: 4px;
  border: 4px;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
} 
::selection {
  color:#1e7b85; /* WebKit/Blink Browsers */
}
.container-fluid{
  justify-content:left
}
.altProfileImage{
  border-radius: 50%;
  height: 72px;
  line-height: 72px;
  min-width: 72px;
  font-size: 20px;
  font-weight: 700;
}
.profileInitials{
  color: #57617a;
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
  background-color: #e9edf8;
  box-sizing: border-box;
}
